@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800;900&display=swap");

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.landing-gradient {
  background: linear-gradient(
    180deg,
    rgba(27, 20, 47, 1) 0%,
    rgba(16, 23, 42, 1) 100%
  );
}